body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
	margin: 20px;
	padding: 0;
	font-size: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	background-color: gray;
}

.container-header {
	display: flex;
	justify-content: flex-start;
	flex: 1;
}

.container-mid {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex: 2;
}

.container-mid div:nth-child(1) {
	flex: 3;
	background-color: white;
	height: 100%;
}

.container-mid div:nth-child(2) {
	flex: 1;
	background-color: lightyellow;
	height: 100%;
}

.container-mid div:nth-child(3) {
	flex: 1;
	background-color: lightcoral;
	height: 100%;
}

.container-footer {
	display: flex;
	justify-content: flex-start;
	flex: 1;
}

.container-header,
.container-footer {
	background-color: lightgreen;
	font-size: 20px;
	font-weight: bold;
}

header,
footer {
	margin: 20px;
}
