body {
	margin: 0;
	height: 100vh;
	background: #eee;
	position: relative;
}

body:hover {
	animation: girar infinite linear 1s;
}

.box {
	width: 100px;
	height: 100px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: white;
	border-radius: 100px;
	margin: 10px;
}

.box1 {
	top: 0;
	left: 0;
	background: yellow;
	color: black;
}
.box2 {
	top: 0;
	right: 0;
	background: red;
}
.box3 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: blue;
}
.box4 {
	bottom: 0;
	left: 0;
	background: green;
}
.box5 {
	bottom: 0;
	right: 0;
	background: purple;
}

@keyframes girar {
	0% {
		rotate: 0deg;
		scale: 0.8;
	}
	100% {
		rotate: 360deg;
		scale: 0.8;
	}
}
